/* HELPER */
/* * {
  outline: 1px solid red;
} */

/* Example of Grid layout model */
.grid-parent {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: green;
  padding: 0.5em;

  column-gap: 1em;
  row-gap: 0.2em;

  gap: 0.1em;
}

.grid-child {
  text-align: center;
  border: 1px solid mediumseagreen;
  background-color: lightgreen;
  padding: 0.5em;
}
